---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Us"
	description="Lorem ipsum dolor sit amet"
	pubDate={new Date('April 24 2026')}
	heroImage="/excitonic_splash_header.png"
>
	<p>
		We are building devices based around 2D materials for electronics and optoelectronics.
	</p>

	<p>
		Based out of greater Philadelphia and NYC.
	</p>
</Layout>
